.list-wrapper {
  background-color: #fff;
  border-radius: 1rem;
  padding: .5rem 1rem;
  margin-bottom: 1rem;

  .item:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
    padding: .5rem 0;
  }

  .item:not(:last-child),
  .item:not(:first-child) {
    padding: .5rem 0;
  }
}

.compare-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__provider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 13.75rem;
    margin-right: 1rem;

    .MuiButton-root {
      border-radius: 100%;
      min-width: 2.5rem;
    }
  }

  &__image {
    max-width: 3rem;
  }

  &__info-box {
    display: flex;
    flex-direction: column;
  }
}
