.list-wrapper {
  background-color: #fff;
  border-radius: 1rem;
  padding: .5rem 1rem;
  margin-bottom: 1rem;

  .item:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
    padding: .5rem 0;
  }

  .item:not(:last-child),
  .item:not(:first-child) {
    padding: .5rem 0;
  }
}

.MuiRating-iconFilled {
  color: lightseagreen;
}

.small {
  font-size: .75rem;
  font-weight: 400;
  color: #7e7e7e;
}
